/* Base */
.slide {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

/* Directions */
.slide-left {
  transform: translateX(-60px);
}

.slide-right {
  transform: translateX(60px);
}

.slide-bottom {
  transform: translateY(60px);
}

/* Visible */
.slide.show {
  opacity: 1;
  transform: translate(0, 0);
}
