
.slide {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.slide-left {
  transform: translateX(-60px);
}

.slide-right {
  transform: translateX(60px);
}

.slide-bottom {
  transform: translateY(60px);
}


.slide.show {
  opacity: 1;
  transform: translate(0, 0);
}
.slide {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.slide-left {
  transform: translateX(-40px);
}

.slide-right {
  transform: translateX(40px);
}

.slide-bottom {
  transform: translateY(40px);
}

.slide.show {
  opacity: 1;
  transform: translate(0, 0);
}
