@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 142 100% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 354 67% 45%;
    --secondary-foreground: 0 0% 100%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
}
@layer base {
  p {
    @apply text-gray-700 leading-relaxed text-[15px] md:text-[16px] mb-4 tracking-wide;
  }
}
