---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/accueil/Slider";
import FeaturedArticles from "@/components/accueil/FeaturedArticles.astro";
---

<Layout
  title="Notre force réside dans notre unité et notre diversité"
  description="Notre force réside dans notre unité et notre diversité">
  <section class="py-16 sm:py-20 lg:py-24">
    <div
      class="
        max-w-[100rem] mx-auto px-10
        bg-gray-50
        rounded-3xl
        shadow-xl
      "
    >
      <header class="pt-14 pb-16 text-center">
        <h1
          class="text-3xl sm:text-4xl lg:text-5xl
                 font-extrabold text-gray-900
                 tracking-tight leading-tight"
        >
          Notre force réside dans notre unité et notre diversité
        </h1>

        <div
          class="mx-auto mt-6
                 h-1 w-20
                 rounded-full
                 bg-gradient-to-r from-red-500 to-green-500"
        ></div>
      </header>
      <div class="px-2 sm:px-4 lg:px-6 mb-20">
        <Slider client:load />
      </div>
      <section class="pb-16 px-2 sm:px-4 lg:px-20">
        <FeaturedArticles />
      </section>

    </div>
  </section>
</Layout>
