---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/accueil/Slider";
import FeaturedArticles from "@/components/accueil/FeaturedArticles.astro";
---

<Layout
  title="Notre force réside dans notre unité et notre diversité"
  description="Notre force réside dans notre unité et notre diversité">
  <div class="bg-[#f0f4f8]">
    <div class="container mx-auto px-4 py-8">
     
      <div class="bg-white rounded-lg shadow-sm p-10 mb-12">
        <div class="text-center mb-8">
          <p class="text-3xl font-bold text-gray-900 mb-4">
            – Notre force réside dans notre unité et notre diversité –
          </p>
        </div>
        <div>
          <Slider client:load />
        </div>
      </div>
      <FeaturedArticles/>
  
    </div>
  </div>
</Layout>
