---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Services">
  <section class=" py-14 sm:py-20">
    <div class="max-w-[100rem] mx-auto px-10">
      <div class="bg-white rounded-2xl shadow-md p-6 sm:p-10 lg:p-14">

        <header class="mb-16 max-w-3xl">
          <h1 class="mt-2 text-3xl sm:text-4xl lg:text-5xl font-extrabold text-gray-900">
            Projets
          </h1>

          <div
            class="h-1 w-20 rounded-full mb-6
                   bg-gradient-to-r from-red-500/40 to-green-500/40"
          ></div>
        </header>

      </div>
    </div>
  </section>
</Layout>
