.menu,
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.menu {
  height: 58px;
  display: flex;
  background-color: transparent;
}
.menu li {
  background: transparent;
  border-bottom: none;
  border-top: none;
  min-width: 160px;
}
.menu>li {
  display: block;
  float: left;
  position: relative;
}
.menu>li:first-child {
  border-radius: 0;
}
.menu a {
  border-left: 3px solid transparent;
  color: #4a4a4a;
  display: block;
  font-family: 'Lucida Console', monospace;
  font-size: 18px;
  line-height: 54px;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li:hover {
  background: transparent;
  border-bottom: none;
  border-top: none;
}
.menu li:hover>a {
  border-radius: 0;
  border-left: 3px solid #C4302B;
  color: #C4302B;
}
.submenu {
  left: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  z-index: 0;
  perspective: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.submenu li {
  opacity: 0;
  transform: rotateY(90deg);
  transition: opacity .4s, transform .5s;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}
.submenu li:last-child {
  border-bottom: none;
}
.menu .submenu li:hover {
  background-color: #f8f8f8;
}
.menu .submenu li:hover a {
  border-left: 3px solid #C4302B;
  border-radius: 0;
  color: #C4302B;
}
.menu>li:hover .submenu,
.menu>li:focus .submenu {
  max-height: 2000px;
  z-index: 10;
}
.menu>li:hover .submenu li,
.menu>li:focus .submenu li {
  opacity: 1;
  transform: none;
}
.menu li:hover .submenu li:nth-child(1) {
  transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
  transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
  transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
  transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
  transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
  transition-delay: 250ms;
}

.menu li:hover .submenu li:nth-child(7) {
  transition-delay: 300ms;
}

.menu li:hover .submenu li:nth-child(8) {
  transition-delay: 350ms;
}

.submenu li:nth-child(1) {
  transition-delay: 350ms;
}

.submenu li:nth-child(2) {
  transition-delay: 300ms;
}

.submenu li:nth-child(3) {
  transition-delay: 250ms;
}

.submenu li:nth-child(4) {
  transition-delay: 200ms;
}

.submenu li:nth-child(5) {
  transition-delay: 150ms;
}

.submenu li:nth-child(6) {
  transition-delay: 100ms;
}

.submenu li:nth-child(7) {
  transition-delay: 50ms;
}

.submenu li:nth-child(8) {
  transition-delay: 0s;
}

.menu a.active {
  border-left: 3px solid #C4302B;
  color: #C4302B;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 @media (max-width: 1023px) {
  .menu {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .menu > li {
    float: none;
    width: 100%;
  }

  .menu a {
    line-height: 54px;
    padding: 0 25px;
  }
}
.menu > li.open .submenu {
  max-height: 2000px;
  z-index: 10;
}
.menu > li.open .submenu li {
  opacity: 1;
  transform: none;
}
.menu > li.open > a .dropdown-icon {
  transform: rotate(180deg);
  color: #C4302B;
}

details summary {
  list-style: none;
}
details summary::-webkit-details-marker {
  display: none;
}
details[open]>summary svg {
  transform: rotate(180deg);
}
.menu a.has-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
}
.menu a .dropdown-icon {
  width: 14px;
  height: 14px;
  transition: transform 0.3s ease;
}
.menu>li:hover>a .dropdown-icon {
  transform: rotate(180deg);
}
.menu li:hover>a .dropdown-icon {
  color: #C4302B;
}
#mobile-menu {
  position: relative;
  z-index: 40;
}

#mobile-menu-btn {
  position: relative;
  z-index: 50;
}

body {
  overflow-x: hidden;
}
#mobile-menu .space-y-1 {
  padding: 0;
  margin: 0;
}
#mobile-menu a,
#mobile-menu summary span {
  color: #4a4a4a;
  display: block;
  font-family: 'Lucida Console', monospace;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 25px;
  line-height: 54px;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}
#mobile-menu a:hover,
#mobile-menu summary:hover span {
  border-left: 3px solid #C4302B;
  color: #C4302B;
  background-color: transparent;
}
#mobile-menu a.active {
  border-left: 3px solid #C4302B;
  color: #C4302B;
}
#mobile-menu details {
  background-color: transparent;
   perspective: 400px;
}#mobile-menu summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}#mobile-menu summary::-webkit-details-marker {
  display: none;
}
#mobile-menu summary:hover {
  border-left: 3px solid #C4302B;
  background-color: transparent;
}
#mobile-menu summary span {
  flex: 1;
  padding-left: 25px;
}#mobile-menu summary svg {
  width: 14px;
  height: 14px;
  margin-right: 25px;
  transition: transform 0.3s ease;
  color: #4a4a4a;
}#mobile-menu summary:hover svg {
  color: #C4302B;
}#mobile-menu details[open]>summary svg {
  transform: rotate(180deg);
  color: #C4302B;
}
#mobile-menu details[open]>summary span {
  color: #C4302B;
  border-left: 3px solid #C4302B;
}
#mobile-menu details>div {
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 25px;
  margin-top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#mobile-menu details>div a {
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 25px;
  font-size: 16px;
}
#mobile-menu details>div a:last-child {
  border-bottom: none;
}
#mobile-menu details>div a:hover {
  background-color: #f8f8f8;
  border-left: 3px solid #C4302B;
  color: #C4302B;
}
#mobile-menu details[open]>div {
  animation: slideDown 0.3s ease-out;
}
#mobile-menu .rounded-lg {
  border-radius: 0 !important;
}#mobile-menu .hover\:bg-gray-50:hover {
  background-color: transparent !important;
}#mobile-menu .text-gray-600 {color: #4a4a4a !important;
}#mobile-menu .text-gray-700 {
  color: #4a4a4a !important;
}
#mobile-menu details {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
  position: relative;
}
#mobile-menu details:not([open]) > div {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

@-webkit-keyframes rotateIn3D {
  0% {
    -webkit-transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes rotateIn3D {
  0% {
    -moz-transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes rotateIn3D {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
#mobile-menu details > div a {
  opacity: 0;
  transform: rotateY(90deg);
  transition: opacity .4s, transform .5s;
}
#mobile-menu details[open] > div a {
  opacity: 1;
  transform: none;
}
#mobile-menu details[open] > div a:nth-child(1) { transition-delay: 0s; }
#mobile-menu details[open] > div a:nth-child(2) { transition-delay: 50ms; }
#mobile-menu details[open] > div a:nth-child(3) { transition-delay: 100ms; }
#mobile-menu details[open] > div a:nth-child(4) { transition-delay: 150ms; }
#mobile-menu details[open] > div a:nth-child(5) { transition-delay: 200ms; }
#mobile-menu details:not([open]) > div a:nth-child(1) { transition-delay: 200ms; }
#mobile-menu details:not([open]) > div a:nth-child(2) { transition-delay: 150ms; }
#mobile-menu details:not([open]) > div a:nth-child(3) { transition-delay: 100ms; }
#mobile-menu details:not([open]) > div a:nth-child(4) { transition-delay: 50ms; }
#mobile-menu details:not([open]) > div a:nth-child(5) { transition-delay: 0s; }



#mobile-menu details[open] > div a:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

#mobile-menu details[open] > div a:nth-child(2) {
  -webkit-animation-delay: 50ms;
  -moz-animation-delay: 50ms;
  -ms-animation-delay: 50ms;
  -o-animation-delay: 50ms;
  animation-delay: 50ms;
}

#mobile-menu details[open] > div a:nth-child(3) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -ms-animation-delay: 100ms;
  -o-animation-delay: 100ms;
  animation-delay: 100ms;
}

#mobile-menu details[open] > div a:nth-child(4) {
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  -ms-animation-delay: 150ms;
  -o-animation-delay: 150ms;
  animation-delay: 150ms;
}

#mobile-menu details[open] > div a:nth-child(5) {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -ms-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  animation-delay: 200ms;
}

@-webkit-keyframes rotateItemIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateY(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
}

@-moz-keyframes rotateItemIn {
  0% {
    opacity: 0;
    -moz-transform: rotateY(90deg);
  }
  50% {
    -moz-transform: rotateY(-20deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
}

@keyframes rotateItemIn {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
#mobile-menu details:not([open]) > div a:nth-child(1) {
  -webkit-transition-delay: 350ms;
  -moz-transition-delay: 350ms;
  -ms-transition-delay: 350ms;
  -o-transition-delay: 350ms;
  transition-delay: 350ms;
}

#mobile-menu details:not([open]) > div a:nth-child(2) {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

#mobile-menu details:not([open]) > div a:nth-child(3) {
  -webkit-transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -ms-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
}

#mobile-menu details:not([open]) > div a:nth-child(4) {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
#mobile-menu details:not([open]) > div a:nth-child(5) {
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  -ms-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}
#mobile-menu details:not([open])>div a:nth-child(1) {
  transition-delay: 350ms;
}#mobile-menu details:not([open])>div a:nth-child(2) {
  transition-delay: 300ms;
}
#mobile-menu details:not([open])>div a:nth-child(3) {
  transition-delay: 250ms;
}#mobile-menu details:not([open])>div a:nth-child(4) {
  transition-delay: 200ms;
}#mobile-menu details:not([open])>div a:nth-child(5) {
  transition-delay: 150ms;
}
#mobile-menu.is-open {
  max-height: 100vh;
  opacity: 1;
  pointer-events: auto;
}

#mobile-menu details > div {
  width: 100%;
  max-width: 320px; 
  border-radius: 4px;
}

#mobile-menu a:active,
#mobile-menu summary:active span {
  border-left: 3px solid #C4302B;
  color: #C4302B;
}
