---
import Header from '../components/page/Header.astro';
import Footer from '../components/page/Footer.astro';
import { ClientRouter } from "astro:transitions";
import '../styles/globals.css';

interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="fr" class="view-transition">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <ClientRouter />

    <style>
      :root {
        view-transition-name: fade;
      }

      ::view-transition-old(fade),
      ::view-transition-new(fade) {
        animation-duration: 0.35s;
        animation-timing-function: ease-in-out;
      }
       html {
        min-height: 100%;
        background: url("/images/5268821.jpg") center / cover no-repeat fixed;
      }

      body {
        margin: 0;
        background: transparent;
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>

  <body class="min-h-screen flex flex-col bg-transparent">
    <Header />

    <main class="flex-1 bg-transparent">
      <slot />
    </main>

    <Footer />
  </body>
</html>
